@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Avanti';
  src: url('../fonts/Avanti.eot');
  src: url('../fonts/Avanti.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Avanti.woff2') format('woff2'),
    url('../fonts/Avanti.woff') format('woff'),
    url('../fonts/Avanti.ttf') format('truetype'),
    url('../fonts/Avanti.svg#Avanti') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avanti';
  src: url('../fonts/AvantiBold.eot');
  src: url('../fonts/AvantiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvantiBold.woff2') format('woff2'),
    url('../fonts/AvantiBold.woff') format('woff'),
    url('../fonts/AvantiBold.ttf') format('truetype'),
    url('../fonts/AvantiBold.svg#AvantiBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-Bold.eot');
  src: url('../fonts/BaiJamjuree-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Bold.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-Bold.woff') format('woff'),
    url('../fonts/BaiJamjuree-Bold.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-Bold.svg#BaiJamjuree-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-Italic.eot');
  src: url('../fonts/BaiJamjuree-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Italic.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-Italic.woff') format('woff'),
    url('../fonts/BaiJamjuree-Italic.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-Italic.svg#BaiJamjuree-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-Light.eot');
  src: url('../fonts/BaiJamjuree-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Light.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-Light.woff') format('woff'),
    url('../fonts/BaiJamjuree-Light.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-Light.svg#BaiJamjuree-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-ExtraLightItalic.eot');
  src: url('../fonts/BaiJamjuree-ExtraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-ExtraLightItalic.woff') format('woff'),
    url('../fonts/BaiJamjuree-ExtraLightItalic.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-ExtraLightItalic.svg#BaiJamjuree-ExtraLightItalic')
      format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-BoldItalic.eot');
  src: url('../fonts/BaiJamjuree-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-BoldItalic.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-BoldItalic.woff') format('woff'),
    url('../fonts/BaiJamjuree-BoldItalic.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-BoldItalic.svg#BaiJamjuree-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-LightItalic.eot');
  src: url('../fonts/BaiJamjuree-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-LightItalic.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-LightItalic.woff') format('woff'),
    url('../fonts/BaiJamjuree-LightItalic.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-LightItalic.svg#BaiJamjuree-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-ExtraLight.eot');
  src: url('../fonts/BaiJamjuree-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-ExtraLight.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-ExtraLight.woff') format('woff'),
    url('../fonts/BaiJamjuree-ExtraLight.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-ExtraLight.svg#BaiJamjuree-ExtraLight')
      format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-SemiBold.eot');
  src: url('../fonts/BaiJamjuree-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-SemiBold.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-SemiBold.woff') format('woff'),
    url('../fonts/BaiJamjuree-SemiBold.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-SemiBold.svg#BaiJamjuree-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-SemiBoldItalic.eot');
  src: url('../fonts/BaiJamjuree-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-SemiBoldItalic.woff') format('woff'),
    url('../fonts/BaiJamjuree-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-SemiBoldItalic.svg#BaiJamjuree-SemiBoldItalic')
      format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-Regular.eot');
  src: url('../fonts/BaiJamjuree-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Regular.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-Regular.woff') format('woff'),
    url('../fonts/BaiJamjuree-Regular.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-Regular.svg#BaiJamjuree-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-MediumItalic.eot');
  src: url('../fonts/BaiJamjuree-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BaiJamjuree-MediumItalic.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-MediumItalic.woff') format('woff'),
    url('../fonts/BaiJamjuree-MediumItalic.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-MediumItalic.svg#BaiJamjuree-MediumItalic')
      format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('../fonts/BaiJamjuree-Medium.eot');
  src: url('../fonts/BaiJamjuree-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Medium.woff2') format('woff2'),
    url('../fonts/BaiJamjuree-Medium.woff') format('woff'),
    url('../fonts/BaiJamjuree-Medium.ttf') format('truetype'),
    url('../fonts/BaiJamjuree-Medium.svg#BaiJamjuree-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
$f_primary: 'Avanti';
$f_secondary: 'Bai Jamjuree';
$c_primary: #3b6738;
$c_secondary: #2c3d17;
$c_black: #000000;
$c_white: #ffffff;
body {
  font-family: $f_primary;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.in_header {
  background: $c_primary;
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 30px 30px;
  padding: 15px 25px;
}
.in_header .bg-dark {
  padding: 0;
  background-color: transparent !important;
}
.in_header .bg-dark .navbar-brand {
  padding: 0;
}
.in_header .navbar .navbar-nav .nav-link {
  font-family: $f_primary;
  font-size: 18px;
  font-weight: 700;
  color: $c_white;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 20px;
  transition: all 0.2s ease-out;
  &:hover,
  &.active {
    color: #9fe346;
  }
}
.mn_ic {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: -2px;
}
.def_blk_btn {
  font-family: $f_primary !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #eeeeee !important;
  background-color: $c_black !important;
  border: 1px solid $c_white !important;
  box-shadow: 0px 4px 30px rgba(137, 96, 255, 0.3) !important;
  padding: 7px 20px 6px 20px !important;
  text-transform: inherit !important;
  text-decoration: none;
  &:hover {
    background-color: #113e0e !important;
  }
  &.sdw_nn {
    box-shadow: none !important;
  }
}
a.def_blk_btn {
  height: 46px !important;
  display: inline-block;
}
.rsp_pdngmn {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .in_header .navbar .navbar-toggler {
    background-color: #9fe346;
    box-shadow: none !important;
    padding: 5px 10px;
  }
  .in_header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url(../img/close_ic.svg);
  }
  .in_header .navbar .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url(../img/menu_black.svg);
  }
  .rsp_pdngmn {
    padding: 50px 0;
    flex-direction: column;
  }
  .in_header .navbar .navbar-nav .nav-link {
    margin: 0 20px 20px 20px;
  }
}
.main {
  padding-top: 80px;
  padding-bottom: 0px;
}
.hm_bg {
  background: url(../img/home_bg.jpg) no-repeat center 0;
  background-size: cover;
  // background-attachment: fixed;
  min-height: calc(100vh - 282px);
}
.rdmp_bg {
  background: url(../img/Roadmap.jpg) no-repeat center 0;
  background-size: cover;
  // background-attachment: fixed;
  min-height: calc(100vh - 282px);
}
@media screen and (max-width: 1199px) {
  .hm_bg {
    background-attachment: fixed;
  }
}
.footer {
  background: $c_primary;
}
.top_footer {
  padding: 50px 0 50px 0;
}
.ftrlg {
  height: 85px;
}
.top_footer h4 {
  font-family: $f_primary;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: $c_white;
  margin-bottom: 8px;
}
.top_footer ul {
  margin: 0;
  padding: 0;
}
.top_footer ul li {
  display: block;
  margin-bottom: 12px;
  list-style: none;
}
.top_footer ul li:last-child {
  margin-bottom: 0px;
}
.top_footer ul li a {
  font-family: $f_primary;
  font-weight: normal;
  font-size: 18px;
  color: $c_white;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover,
  &.active {
    color: #9fe346;
  }
}
.bottom_footer {
  padding: 9px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.as_text_right {
  text-align: right;
}
.bottom_footer p,
.bottom_footer p a {
  font-family: $f_primary;
  font-weight: 400;
  font-size: 12px;
  color: $c_white;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.bottom_footer p a {
  &:hover {
    color: #9fe346;
  }
}
@media screen and (max-width: 1200px) {
  .top_footer h4 {
    margin-top: 30px;
  }
  .as_text_right,
  .bottom_footer {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .ftrlg {
    height: auto;
  }
}
.defp_tp {
  padding-top: 60px !important;
}
.hm_cntnr {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}
.hn_ttl h3 {
  font-family: $f_secondary;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #2C3D17;
  margin-bottom: 40px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.hn_ttl_v2 h3 {
  color: #fff;
  margin-bottom: 40px;
  text-shadow: 0px 5px 14px rgba(0, 0, 0, 0.54);
  -webkit-text-stroke: 1px #8960FF;
}
.homesc_one {
  height: 456px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cntrmddl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.p_rltv {
  position: relative;
}
.sc_wt_bg {
  position: relative;
  .bg_img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
  }
}
.wel_img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}
.v1_rltv_pddng {
  position: relative;
  padding: 20px 40px 0px 40px;
  max-width: 515px;
  margin: 0 auto;
}
.hm_img_03 {
  margin-top: 40px;
}
@media screen and (max-width: 1199px) {
  .hm_img_03 {
    margin: 40px auto 0px auto;
    display: flex;
  }
  .m-auto-lg {
    margin: 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rsp_mrgn_bt {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 991px) {
  .hn_ttl h3 {
    font-size: 44px;
    line-height: 56px;
  }
}
@media screen and (max-width: 575px) {
  .hn_ttl h3 {
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 20px;
  }
  .homesc_one {
    height: inherit;
  }
}
@media screen and (max-width: 400px) {
  .homesc_one {
    padding: 25px;
  }
  .v1_rltv_pddng {
    padding: 20px 30px 0px 30px;
  }
}
.rdmp_sc01 {
  position: relative;
  padding-top: 30px;
}
.rdmp_sc01 .hn_ttl h3 {
  text-align: left;
  max-width: 465px;
  margin-bottom: 25px;
}
.rdmp_sc_bx01 {
  max-width: 790px;
  padding: 20px 30px 0px 30px;
  margin-right: 0;
}
.rd_bg_01 {
  position: absolute;
  top: 42%;
  left: 35%;
  z-index: 0;
}
.rdmp_sc02 .homesc_one {
  height: auto;
  padding: 40px 40px 0 40px;
}
.csm_bx_cntnt h2 {
  font-family: $f_primary;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #2c3d17;
  margin-bottom: 10px;
}
.csm_bx_cntnt p {
  font-family: $f_primary;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #2c3d17;
  margin-bottom: 20px;
}
.plntsd_img {
  margin: 0 auto;
  display: flex;
}
.csm_bx_cntnt_v2 {
  padding-top: 50px !important;
}
.csm_bx_cntnt_v2 h2,
.csm_bx_cntnt_v2 p {
  text-align: left !important;
}
.rdmp_sc02 .sc_wt_bg .bg_img {
  border-radius: 55px;
}
.fram_img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1199px) {
  .rd_bg_01 {
    top: 78%;
    left: 16%;
  }
  .rdmp_sc01 .hn_ttl {
    margin-bottom: -30px;
  }
  .rdmp_sc02 .homesc_one {
    padding: 40px 20px 40px 20px;
  }
  .csm_bx_cntnt h2 {
    font-size: 30px;
  }
  .csm_bx_cntnt p {
    font-size: 18px;
    line-height: 24px;
  }
  .csm_bx_cntnt_v2 h2,
  .csm_bx_cntnt_v2 p {
    text-align: center !important;
  }
  .csm_bx_cntnt_v2 .m-auto-lg {
    flex-direction: inherit;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .rd_bg_01 {
    top: 75%;
    left: 40px;
    width: 205px;
  }
  .fram_img {
    width: 160px;
  }
}
@media screen and (max-width: 575px) {
  .rdmp_sc02 .v1_rltv_pddng {
    padding: 10px 10px 0px 10px !important;
  }
  .csm_bx_cntnt_v2 .m-auto-lg {
    flex-direction: column;
    justify-content: center;
  }
  .csm_bx_cntnt_v2 .m-auto-lg .def_blk_btn {
    margin-bottom: 8px !important;
  }
  .csm_bx_cntnt h2 {
    font-size: 24px;
  }
  .csm_bx_cntnt p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 480px) {
  .rdmp_sc_bx01 {
    padding: 10px 15px 0px 15px;
  }
}
.rdmp_sc02 .v1_rltv_pddng {
  max-width: 100%;
  padding: 15px 30px 0px 30px;
  margin-top: -20px;
}
.rdmp_sc02 .v1_rltv_pddng_v2 {
  padding: 15px 30px 0px 40px;
}
@media screen and (max-width: 1199px) {
  .rdmp_sc02 {
    margin-top: 130px;
  }
}
.rdmp_sc03 {
  position: relative;
  padding-top: 160px;
}
.rdsc3_tp_img {
  position: absolute;
  left: 21%;
  top: -90px;
  z-index: 0;
}
.zindx1 {
  z-index: 1;
  position: relative;
}
.rdmp_sc03 .v1_rltv_pddng {
  padding: 12px 30px 0px 30px;
  max-width: 465px;
}
.rdmp_sc03 .homesc_one {
  height: auto;
  border-radius: 22px;
  overflow: hidden;
}
.mddl_df_cntnt h4 {
  font-family: $f_primary;
  font-weight: bold;
  font-size: 28px;
  color: #2c3d17;
  margin-bottom: 17px;
}
.mddl_df_cntnt p {
  font-family: $f_primary;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #2c3d17;
  margin-bottom: 17px;
}
.rdmp_sc03 .homesc_one {
  padding: 30px 25px;
}
.rdmp_sc03 .def_blk_btn {
  margin: 0 auto !important;
  display: flex;
  max-width: 200px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .sc3_lft_img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .rdsc3_tp_img {
    left: 25%;
    top: -27px;
    width: 466px;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 636px) {
  .rdsc3_tp_img {
    left: 0;
    top: 20px;
    width: auto;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 575px) {
  .mddl_df_cntnt h4 {
    font-size: 22px;
  }
  .mddl_df_cntnt p {
    font-size: 16px;
    line-height: 23px;
  }
  .rdmp_sc03 .v1_rltv_pddng {
    padding: 12px 20px 0px 20px;
  }
}
.rdmp_sc04 {
  position: relative;
  padding-bottom: 50px;
}
.sc4_bg01 {
  position: absolute;
  left: 8%;
  top: -28px;
}
.sc4_bg02 {
  position: absolute;
  left: 60%;
  top: 50px;
}
.sc4_bg03 {
  position: absolute;
  left: 60%;
  bottom: 20px;
}
.rdmp_sc04 h3 {
  font-family: $f_primary;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  color: #2c3d17;
  margin-top: 100px;
  margin-bottom: 40px;
}
.rdmp_sc04 .v1_rltv_pddng {
  padding: 12px 30px 0px 30px;
  max-width: 420px;
}
.rdmp_sc04 .homesc_one {
  height: auto;
  border-radius: 22px;
  overflow: hidden;
}
.sc4v1_rltv_pddng {
  padding: 12px 22px 0px 20px !important;
}
.sc4v2_rltv_pddng {
  padding: 12px 18px 0px 20px !important;
}
.sc4v3_rltv_pddng {
  padding: 12px 35px 0px 23px !important;
}
.sc4v1_rltv_pddng,
.sc4v3_rltv_pddng {
  position: relative;
  bottom: -50px;
}
.rdmp_sc04 .mddl_df_cntnt h4 {
  font-size: 19px;
  text-align: center;
  margin-bottom: 15px;
}
.rdmp_sc04 .mddl_df_cntnt p {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  max-width: 250px;
  margin: 0 auto 30px auto;
}
.rdmp_sc04 .def_blk_btn {
  margin: 0 auto;
  display: flex;
  max-width: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.rdmp_sc04 .def_blk_btn img {
  margin-left: 4px;
}
.rdmp_sc04 .p_rltv {
  width: 100%;
}
.formfld {
  font-family: $f_primary;
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 6px;
  border: none !important;
  outline: none !important;
  color: $c_white !important;
  box-shadow: none !important;
  height: 45px;
  width: 100%;
  margin-bottom: 25px;
}
.formfld::-webkit-input-placeholder {
  color: $c_white;
}
.formfld:-ms-input-placeholder {
  color: $c_white;
}
.formfld::placeholder {
  color: $c_white;
}
.upldprnt {
  width: 100%;
}
.upld_btn {
  font-family: $f_primary !important;
  background: $c_black !important;
  border-radius: 6px !important;
  border: none !important;
  outline: none !important;
  color: #ddffb1 !important;
  font-weight: 700 !important;
  box-shadow: none !important;
  height: 45px;
  width: 100%;
  margin-bottom: 25px !important;
  &:hover {
    background: #60462f !important;
  }
}
.upld_btn img {
  margin-right: 10px;
}
@media screen and (max-width: 1199px) {
  .sc4_bg01 {
    left: 0;
  }
  .sc4v1_rltv_pddng,
  .sc4v3_rltv_pddng {
    bottom: 0px;
  }
  .sc4_bg02,
  .sc4_bg03 {
    top: auto;
    left: calc(50% - 164px);
    bottom: -30%;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 991px) {
  .sc4_bg01 {
    display: none;
  }
  .rdmp_sc04 h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .upld_btn img {
    margin-right: 2px;
  }
}
.rdmp_sc05 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.sc05_bg {
  position: absolute;
  right: 10%;
  top: -20px;
}
@media screen and (max-width: 1199px) {
  .sc05_bg {
    display: none;
  }
}
.sc06_cntnr {
  max-width: 920px;
  margin: 0 auto;
}
.crtnwclcn_btn {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end !important;
  align-items: center;
  background: #ddffb1 !important;
  backdrop-filter: blur(22.2069px);
  border-radius: 22.2069px !important;
  height: 315px;
  width: 100%;
  box-shadow: none !important;
  font-family: $f_primary !important;
  font-weight: bold !important;
  font-size: 18px !important;
  color: #2c3d17 !important;
  text-transform: inherit !important;
}
.btntxt {
  margin-bottom: 20px !important;
}
.crtnwclcn_btn {
  svg {
    color: #85bf3a !important;
    height: 60px;
    width: 60px;
    margin-bottom: 85px;
  }
}
.bd_box {
  position: relative;
  height: 315px;
  width: 100%;
  border-radius: 22px;
  overflow: hidden;
  .def_blk_btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
    right: 20px;
    width: calc(100% - 40px);
    background: #85bf3a !important;
    border: 1px solid #ffffff !important;
    backdrop-filter: blur(22.2069px);
    border-radius: 8px !important;
    box-shadow: none !important;
    span {
      margin-right: 0;
    }
    svg {
      color: #fff !important;
      margin-right: 0;
    }
    &:hover {
      background: #6fa727 !important;
    }
    @media screen and (max-width: 575px) {
      font-size: 16px !important;
    }
  }
}
.bed_img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
.bd_box_txt {
  font-family: $f_primary;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #2c3d17;
  position: absolute;
  left: 0;
  width: 100%;
  top: 44%;
}
.mn-190 {
  min-width: 150px !important;
}
.social_link {
  margin: 0 30px;
  position: relative;
  top: 0;
  transition: all 0.2s ease-out;
  &:hover {
    top: -3px;
  }
}
.rdmp_sc07 {
  padding-bottom: 60px;
  position: relative;
}
.rdmp_sc07 h3 {
  font-family: 'Avanti';
  font-weight: bold;
  text-align: center;
  color: #2c3d17;
  margin-bottom: 40px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  font-size: 55px;
  line-height: 62px;
  @media screen and (max-width: 575px) {
    font-size: 36px;
    line-height: 42px;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}
.rdmp_sc07 .v1_rltv_pddng {
  padding: 15px 25px 0px 23px;
  max-width: 455px;
}
.rdmp_sc07 .homesc_one {
  padding: 30px 20px;
  height: auto;
}
.rdmp_sc07 .mddl_df_cntnt h4 {
  font-family: $f_primary;
  font-weight: bold;
  font-size: 24px;
  color: #2c3d17;
  text-align: center;
}
.rdmp_sc07 .mddl_df_cntnt p {
  font-family: $f_primary;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #2c3d17;
  max-width: 330px;
  margin: 0 auto 30px auto;
}
.frm_lbl {
  font-family: $f_primary;
  font-weight: normal;
  font-size: 14px;
  color: #2c3d17;
}
.rdmp_sc07 {
  .upld_btn {
    @media screen and (min-width: 992px) {
      max-width: 80%;
      margin: 0 auto;
      margin: 0 auto 25px auto !important;
      display: flex;
    }
  }
}
.sc07_bg {
  position: absolute;
  left: 18%;
  top: -24px;
}
@media screen and (max-width: 1199px) {
  .sc07_bg {
    left: 0%;
  }
}
@media screen and (max-width: 991px) {
  .rdmp_sc04 h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .rdmp_sc07 .upld_btn {
    font-size: 12px !important;
  }
}
.hm_sdw_bx {
  filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.54));
}
.p_rltv iframe {
  border-radius: 17px;
  filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.54));
}
.sdw_bx_v2 {
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.sdw_bx_v3 {
  filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.54));
}
