$f_primary: 'Avanti';
$f_secondary: 'Bai Jamjuree';
$c_primary: #3b6738;
$c_secondary: #2c3d17;
$c_black: #000000;
$c_white: #ffffff;
body.bsc_theme {
    background: #623b00 !important;
}
.bsc_theme .tkn_title, .bsc_theme .tkn_title_v2 {
    font-family: $f_primary;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    color: #2c3d17;
    margin-top: 100px;
    margin-bottom: 40px;
}
.bsc_theme .drk_lbl {
font-family: $f_primary;
}
.bsc_theme .in_header {
    background: #FF9900 !important;
}
.bsc_theme .in_header .navbar-nav {
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 35px;
    padding: 5px;
    margin-right: 0 !important;
}
.bsc_theme .in_header .navbar .navbar-nav .nav-link:hover,
.bsc_theme .in_header .navbar .navbar-nav .nav-link.active {
    color: #984900;
}
.bsc_theme .drk_lbl {
    display: block;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    left: -8px;
    top: -22px;
}
.bsc_theme .extrlnk {
    display: flex !important;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 35px;
    padding: 5px 20px;
    margin-left: 15px!important;
    margin-right: auto;
    &:hover {
        color: #984900 !important;
    }
}
.bsc_theme .extrlnk .drk_lbl {
    left: 9px;
    top: -17px;
}
.bsc_theme .def_blk_btn {
    color: #FF9900 !important;
    border-color: #FF9900 !important;
    &:hover {
        background: #984900 !important;
    }
}
@media screen and (max-width: 991px) {
    .bsc_theme .in_header .navbar .navbar-toggler {
        background-color: #ffc997 !important;
    }
    .bsc_theme .in_header .navbar-nav {
        margin-right: auto !important;
    }
    .bsc_theme .extrlnk {
        margin: 25px auto 15px auto !important;
    }
}
.bsc_theme .footer {
    background: #FF9900;
    backdrop-filter: blur(20px);
}
.bsc_theme .tknlst_bg {
    background: url(../img/tkn_pg_bg_bsc.jpg) no-repeat center 0px;
    background-size: cover;
    min-height: calc(100vh - 282px);
}
.bsc_theme .tknlst_bg_v2 {
    background: url(../img/tknpg_bg_v2_bsc.jpg) no-repeat center 0px;
    background-size: cover;
    min-height: calc(100vh - 282px);
}
.bsc_theme .tknplgn_bg {
    background: url(../img/tknplgn_bg_bsc.jpg) no-repeat center 0px;
    background-size: cover;
    min-height: calc(100vh - 282px);
}
.bsc_theme .plgn_d_pg_bg {
    background: url(../img/plgn_d_pg_bg_bsc.jpg) no-repeat center 0px;
    background-size: cover;
    min-height: calc(100vh - 282px);
}
.v1_rltv_pddng.v1_rltv_pddng_tkn {
    max-width: 765px;
    z-index: 1;
}
.tkn_tp_bx {
    position: relative;
    padding-top: 1px;
}
.bsc_theme .tkn_title {
    color: #CC6200;
    position: relative;
    margin-top: 135px;
    margin-bottom: 130px;
}
.tkntp_bg_img {
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tkntp_bg_img_v2 {
    top: -240px !important;
}
.bsc_theme .modal_title {
    color: #CC6200;
}
.bsc_theme .token_chkbx {
    position: relative;
    margin-bottom: 10px;
    input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
    }
    label {
        background: #FF9900;
        backdrop-filter: blur(7.92089px);
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 5px 30px;
        opacity: 0.2;
        transition: all 0.2s ease-out;
        img {
            margin-left: auto;
        }
        h6 {
            font-weight: bold;
            font-size: 22px;
            color: #FFFFFF;
        }
        h2 {
            font-weight: bold;
            font-size: 64px;
            line-height: 64px;
            text-transform: uppercase;
            color: #9C5E00;
            opacity: 0.3;
            margin: 0 auto;
        }
    }
}
.token_l_box_v2 {
    label {
        border-radius: 25px;
        height: 100px;
    }
}
.token_chkbx input:checked + label, .token_chkbx input:hover + label {
    opacity: 1;
}
.v1_rltv_pddng_tkn .homesc_one {
    height: auto;
    padding-bottom: 100px;
}
.tkntp_lnbg_v3 {
    position: absolute;
    right: 0;
    top: 48%;
}
@media screen and (max-width: 1024px) {
    .tkntp_bg_img_v2 {top: -205px !important;}
}
@media screen and (max-width: 850px) {
    .tkntp_bg_img_v2 {top: -210px !important;}
}
@media screen and (max-width: 575px) {
    .v1_rltv_pddng_tkn .homesc_one {
        padding: 15px 15px 100px 15px;
    }
    .token_chkbx label h6 {
        font-size: 16px;
    }
    .token_chkbx label img {width: 60px;}
}
@media screen and (max-width: 900px) {
    .bsc_theme .tkn_title {
        font-size: 34px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .tkntp_bg_img {
        top: -28px;
    }
}
@media screen and (max-width: 767px) {
    
    .token_chkbx label h2 {
        font-size: 34px;
        line-height: 34px;
    }
    .token_l_box_v2 label {
        padding: 5px 10px;
        height: 85px;
    }
    .tkntp_bg_img_v2 {top: -175px !important;}
}
@media screen and (max-width: 630px) {
    .tkntp_bg_img {
        transform: rotate(90deg);
    }
    .tkntp_bg_img_v2 {
        top: -90px !important;
        transform: rotate(90deg);
    }
}
@media screen and (max-width: 430px) {
    
}

.bsc_theme .tkn_title_v2 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #CC6200;
}
.bsc_theme .tkn_title_v2.tkn_title_v2_wt {
    color: $c_white !important;
}
.tkntp_lnbg_v4 {
    position: absolute;
    left: 0;
    top: 120px;
    @media screen and (max-width: 1440px) {
        max-width: 375px;
    }
}
@media screen and (max-width: 480px) {
    .bsc_theme .tkn_title, .bsc_theme .tkn_title_v2 {
        font-size: 30px;
        margin-top: 5%;
        margin-bottom: 30px;
    }
    .bsc_theme .tkn_title_v2 {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .tkntp_bg_img {top: -9%;}
    .tkntp_lnbg_v4 {
        max-width: 280px !important;
    }
}
.bsc_theme .tkninfo_bx {
    border: 1px solid #CC6200;
    border-radius: 16px;
    padding: 15px 15px;
}
.bsc_theme .tkninfo_bx_top {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #8E776C;
    margin-bottom: 20px;
    span {
        margin-left: auto;
        b {
            font-weight: 600;
        }
    }
}
.bsc_theme .tkninfo_bx_mddl {
    display: flex;
    align-items: center;
    .tknipt {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 26px;
        color: #984900;
        padding: 0;
        border: none !important;
        background: transparent !important;
        outline: none !important;
        height: 30px;
        width: 100%;
    }
}
.bsc_theme .tkn_right_info {
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    font-weight: normal;
    font-size: 20.5263px;
    color: #984900;
    span {
        background: #984900;
        border-radius: 3.15789px;
        color: $c_white;
        padding: 4px 8px;
        margin-right: 5px;
    }
}
.tknbtn {
    background: transparent !important;
    
    img {
        position: relative;
        transition: all 0.2s ease-out;
        top: -5px;
        &:hover {
            top: 0;
        }
    }
    
}
.bsc_theme .cncl_btn {
    background: #FFA048 !important;
    border-radius: 50px !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    font-family: $f_secondary !important;
    color: $c_white !important;
    width: 100% !important;
    text-transform: inherit !important;
    box-shadow: 0px 4px 30px #CC6200 !important;
    &:hover {
        background: #d78437 !important;
    }
}
.bsc_theme .buy_btn {
    background: #CC6200 !important;
    border-radius: 50px !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    font-family: $f_secondary !important;
    color: $c_white !important;
    width: 100% !important;
    text-transform: inherit !important;
    box-shadow: 0px 4px 30px #CC6200 !important;
    &:hover {
        background: #a75306 !important;
    }
}
.tkntp_lnbg_v5 {top: 60% !important;}
@media screen and (max-width: 575px) {
    .tkninfo_bx_top {
        font-size: 13px;
        line-height: 18px;
    }
    .tkninfo_bx_mddl .tknipt {
        font-size: 20px;
    }
    .tkn_right_info {
        font-size: 14px;
    }
}
.tkntp_bg_img_v3 {
    top: -60px;
}
.v1_rltv_pddng_tkn_v2 {
    padding: 15px 35px 0px 60px;
    max-width: 1220px;
    z-index: 2;
    .homesc_one {
        padding: 15px 15px 70px 15px;
        height: auto !important;
    }
}
.bsc_theme .as_tabs {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background: #000000;
    border: 1px solid #FF9900;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(102, 222, 242, 0.2);
    border-radius: 30px;
    overflow: hidden;
    margin-top: 95px;
    margin-bottom: 100px;
    li {
        width: 50%;
        button {
            width: 100%;
            border: none !important;
            border-radius: 0 !important;
            font-family: $f_primary !important;
            font-weight: bold;
            font-size: 20px;
            color: #fff !important;
            &:hover, &.active {
                background: #CC6200 !important;
                color: $c_white !important;
            }
        }
    }
}
@media screen and (max-width: 830px) {
    .as_tabs {
        margin-top: 35px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 575px) {
    .v1_rltv_pddng_tkn_v2 {
        padding: 15px 15px 0px 30px;
    }
}
.bsc_theme .token_table {
    .tbldrkbtn {
        font-family: 'Rajdhani', sans-serif;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0px 4px 30px rgba(102, 222, 242, 0.2) !important;
        border-radius: 35px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        color: #FFFFFF;
        display: inline-block;
        display: inline-flex;
        margin-left: 5px;
        align-items: center;
        justify-content: center;
        padding: 6px 16px;
        height: auto;
        min-height: auto;
        line-height: inherit;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
            background: rgba(0,0,00.52);
        }
    }
    .buy_btn {
        font-size: 15px !important;
        height: auto;
        min-height: auto;
        line-height: inherit;
        width: auto !important;
        margin-left: 5px;
        padding: 5px 20px;
        .MuiButton-startIcon {
            margin-right: 4px;
        }
    }
    tr {
        border: none !important;
    }
    
    th {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #89603E;
        border: none !important;
        box-shadow: none !important;
        white-space: nowrap;
    }
    td {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #984900;
        border-top: none !important;
        border-bottom: 1px solid #4D3E37;
        vertical-align: middle;
        white-space: nowrap;
        padding-top: 15px;
        padding-bottom: 15px;
        &:last-child {
            text-align: right;
        }
    }
    tbody {
        border: none !important;
        tr {
            &:first-child {
                td {
                    border-top: 1px solid #4D3E37 !important;
                }
            }
        }
    }
}
.tkntp_lnbg_v6 {
    top: 65% !important;
}
.dt_frst_bx {
    padding-top: 60px;
    position: relative;
}
.defmx {
    max-width: 1300px;
    margin: 0 auto;
}
.dtls_d_prnt01.v1_rltv_pddng{
    max-width: 100% !important;
    padding: 20px 45px 0px 45px !important;
}
.dtls_d_prnt02.v1_rltv_pddng {
    max-width: 100% !important;
    padding: 20px 43px 0px 25px !important;
}
.dtls_d_prnt02.v1_rltv_pddng_tkn .homesc_one {
    padding: 15px 0;
}
.bsc_theme .d_all_infobx {
    max-width: 380px;
    margin: 0 auto;
    padding: 10px 15px 0 15px;
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #CC6200;
        margin-bottom: 14.3px;
        span {
            font-weight: 400;
            color: #695850;
            min-width: 155px;
            display: inline-flex;
        }
    }
}
.bsc_theme .d_hr {
    background: #9f8a78 !important;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 8px;
}
.bsc_theme .more_shadow {
    box-shadow: 0px 4px 30px #CC6200!important;
}
.d_all_infobx_btm {
    padding: 15px 15px 15px 15px;
    max-width: 375px;
    margin: 0 auto;
}
.dt_tw_bx {
    margin-top: 20px;
    position: relative;
    .v1_rltv_pddng_tkn_v2 {
        max-width: 100%;
        padding: 15px 55px 0px 45px;
    }
}
.bsc_theme .token_table_wtbrdr {
    tbody {
        tr {
            &:first-child {
                td {
                    border-top: none !important;    
                }
            }
            td {
                border-top: none !important;
                border-bottom: none !important;
                .tbldrkbtn {
                    min-width: 260px;
                    padding: 10px;
                }
                p {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 18px;
                    color: #89603E;
                }
                .reg_txt {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #89603E;
                }
            }
        }
    }
    
    
}
.v1_rltv_pddng_tkn_v3 {
    padding-bottom: 100px !important;
}
.pl_ex_img01 {
    position: absolute;
    left: 0;
    top: 15px;
}
.pl_ex_img02 {
    position: absolute;
    right: -167px;
    top: 44%;
}
.pl_ex_img03 {
    position: absolute;
    right: 7%;
    top: -220px;
}
.pl_ex_img04 {
    position: absolute;
    left: 7%;
    top: -200px;
}
@media screen and (max-width: 1600px) {
    .pl_ex_img03 {
        right: 0px;
    }
    .pl_ex_img04 {
        left: 0;
    }
}
@media screen and (max-width: 1199px) {
    .pl_ex_img02 {display: none;}
}
@media screen and (max-width: 575px) {
    .dtls_d_prnt01.v1_rltv_pddng {
        padding: 20px 15px 0px 20px !important;
    }
    .dtls_d_prnt02.v1_rltv_pddng {
        padding: 20px 20px 0px 15px !important;
    }
    .dt_tw_bx .v1_rltv_pddng_tkn_v2 {
        padding: 15px 15px 0px 15px;
    }
}
@media screen and (max-width: 400px) {
    .d_all_infobx h4 {
        font-size: 12px;
        span {
            min-width: 115px;
        }
    }
    .d_all_infobx_btm {
        .cncl_btn {
            font-size: 15px !important;
        }
    }
    
}
.bsc_theme .top_footer ul li a:hover, .bsc_theme .top_footer ul li a.active {
    color: #89603E;
}
.bsc_theme .wel_img {filter: invert(46%) brightness(170%) saturate(95.2) hue-rotate(96deg);}
.bsc_theme .tknbtn img {filter: invert(48%) brightness(38%) saturate(95.2) hue-rotate(91deg);}